window#waybar {
    font-family: "JetBrains Mono NerdFont";
    background-color: rgba(0, 0, 0, 0);
    color: rgb(230, 230, 230);
    font-size: 1.2rem;
    border-radius: 10px;
}

tooltip {
    font-family: "JetBrains Mono NerdFont";
    font-size: 0.8rem;
}

.modules-left {
    background: linear-gradient(315deg, rgba(145, 0, 135, 0.4), rgba(79, 0, 116, 0.6));
    border-radius: 10px;
    padding: 3px;
}

.modules-center {
    background: linear-gradient(180deg, rgba(145, 0, 135, 0.4), rgba(79, 0, 116, 0.6));
    border-radius: 10px;
    padding: 3px;
}

.modules-right {
    background: linear-gradient(45deg, rgba(145, 0, 135, 0.4), rgba(79, 0, 116, 0.6));
    border-radius: 10px;
    padding: 3px;
}



#image.powermenu {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 7px;
    padding: 0px 10px;
    border-left: 10px;
}


#workspaces {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 7px;
    padding: 0 5px;
}

#workspaces button {
    color: rgb(136, 136, 136);
    font-size: 1.2rem;
    padding: 0 0.3rem 0 0;
}

#workspaces button:hover {
    background-color: rgba(0, 0, 0, 1);
}

#workspaces button.special {
    font-size: 1.2rem;
    padding: 0 0.3rem 0 0;
}

#workspaces button.active {
    color: #a752df;
}

#workspaces button.urgent {
    color: red;
}

#window, #custom-media {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 7px;
}

#custom-lightdarkmode {
    padding-right: 0px;
}

#custom-audiooutputtoggle {
    padding-right: 1px;
}

#custom-dotseperator {
    font-size: 25;
    color: rgba(255, 165, 197, 0.599);
}

#custom-lineseperator {
    font-size: 25;
    padding-right: 0.1rem;
    color: rgba(255, 165, 197, 0.599);
}

#tray {
    background-color: rgba(0, 0, 0, 0.118);
    border-radius: 10px;
    padding: 2px 5px;
}

#clock.time, #clock.date {
    font-size: 18px;
    font-weight: 600
}

#custom-audiooutputtoggle, #wireplumber, #custom-lights, #network, #custom-lightdarkmode {
    margin-left: 6px;
    margin-right: 6px;
}

#custom-buttonspace {
    margin-left: 3px;
}


#wireplumber {
    font-size: 16;
    padding-right: 9px;
}

#custom-seperator {
    font-size: 28;
}

#custom-space {
    font-size: 10;
}

#custom-smallspace {
    font-size: 5;
}

#network {
    padding-right: 8px;
}


#battery {
    color: lightgreen;
}

#memory {
    color: lightpink;
}

#disk {
    color: lightskyblue;
}

#cpu {
    color: lightgoldenrodyellow;
}

#temperature {
    color: lightslategray;
}
