/**
 * @name Discord Mica
 * @author Coolkie
 * @version 1.0
 * @description Discord with mica :)
 * @source https://github.com/PL7963/Discord-Mica/blob/main/src/main.css
 * @website http://github.com/PL7963/
 * @invite mh5Tzm43m9
 */

@import url("https://raw.githubusercontent.com/PL7963/Discord-Mica/refs/heads/main/src/main.css");

 :root {
  /*Dark mode*/
  --dark-bg: rgba(45,0,45,0.6);
  --dark-flyout: rgba(30,30,30);
  --dark-accent: rgb(76, 194, 255);
  --dark-accent-hovered: rgb(65, 163, 214); /*also disabled button*/
  --dark-accent-font-color: black;
  --dark-button: rgb(45,45,45);
  --dark-button-border: rgb(60, 60, 60);
  --dark-button-font-color: white;
  --dark-background-accent: rgba(50,50,50,0.9);
  --dark-status-panel: rgba(30,30,30,0.4);

  /*Light mode*/
  --light-bg: transparent;
  --light-flyout: rgb(255, 255, 255);
  --light-accent: rgb(0, 120, 212);
  --light-accent-hovered: rgb(0, 94, 167); /*also disabled button*/
  --light-accent-font-color: white;
  --light-button: rgb(251,251,251);
  --light-button-border: rgb(204, 204, 231);
  --light-button-font-color: black;
  --light-background-accent: rgba(160,160,160,0.9);
  --light-status-panel: rgba(255,255,255,0.4);

  /* Titlebar */
  --custom-app-top-bar-height: calc(24px + var(--space-sm)); /* Set to 0 if you don't want to use Discord title-bar */
  --title-bar-icon: flex; /* Set to none to remove icons */
  }
